@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body{
    background-color: #fef3e2;
}

.head{
    background-color: #fff;
    padding:25px;
    width: 100%;
}

.logo{
    font-family: 'Monoton', 'Bauhaus 93',sans-serif;
    text-align: center;
    font-size: 600%;
    /* ylw: ffab00 */
    /* blu: 3a99f2 */
    /* 72770037471 */
}


/* .tabla{
    text-align: center;
    justify-content:center;
} */

.subtitle{
    font-family:'Montserrat',Tahoma, Verdana, sans-serif;
    text-align: center;
    /* padding-bottom: 15px; */
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 15px; */
    /* margin-left: 50px; */
}
.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
    margin-top: 3%;
    /* position: fixed; */
    /* right: 0;
    left: 0;
    bottom: 0; */
}


.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    align-items: center;
}

.text-box{
    font-size: 115%;
    margin-left: 4%;
}

nav{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
}

.links button{
    padding: 9px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    object-fit: cover;
}

.links button:hover{
    background-color: #c5c5c5;
}

.imgContainer img{
    border-radius: 25px;
    object-fit: cover;
    /* height: 15%; */
    width: 75%;
    margin-left: 10%;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container li{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
} */